<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hermes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudNavMenu Class="mud-width-full">
        <MudNavLink Href="" Icon="@Icons.Filled.Home">Accueil</MudNavLink>
        
        <AuthorizeView Roles="Admin, Manager">
            <MudNavGroup Title="Paramètres" Icon="@Icons.Filled.Settings">
                <MudNavLink Href="users" Icon="@Icons.Filled.SupervisorAccount" IconColor="Color.Info">Utilisateurs</MudNavLink>
                <MudNavLink Href="technos" Icon="@Icons.Filled.Language" IconColor="Color.Info">Technologies</MudNavLink>
                <MudNavLink Href="competences" Icon="@Icons.Filled.Engineering" IconColor="Color.Info">Compétences</MudNavLink>
                <MudNavLink Href="societes" Icon="@Icons.Filled.Business" IconColor="Color.Info">Sociétés</MudNavLink>
            </MudNavGroup>
        </AuthorizeView>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
