@page "/agence"
@attribute [Authorize(Roles = "Admin, Manager")]
@inject IAgenceViewModel viewModel

<h3>Consultants</h3>

@if(viewModel.IsLoading)
{
	<div>Chargement des consultants ...</div>
	<MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
}
else
{
	<div class="d-flex">
		<MudAutocomplete T="string"
					 Label="Mot clé"
					 Disabled="@viewModel.IsLoading"
					 AdornmentIcon="@Icons.Material.Filled.Search"
					 SearchFunc="@viewModel.SearchByKeyword"
					 ValueChanged="@viewModel.OnSelectKeyword" />
	</div>

	<div>
		<div><u>Filtres</u> :</div>
		@foreach (var filtre in viewModel.Filtres)
		{
			@if (filtre.Type == TypeCompetenceTechno.Techno)
			{
				<MudChip Color="Color.Success"
						OnClose="@(() => viewModel.DeleteFiltre(filtre.Id))"
						CloseIcon="@Icons.Material.Filled.Close">@filtre.Nom</MudChip>
			}
			else
			{
				<MudChip Color="Color.Secondary"
						OnClose="@(() => viewModel.DeleteFiltre(filtre.Id))"
						CloseIcon="@Icons.Material.Filled.Close">@filtre.Nom</MudChip>
			}
		}
	</div>

	<MudFab StartIcon="@Icons.Filled.PersonAdd"
		Color="Color.Primary"
		OnClick="viewModel.AddConsultant"
		Label="Ajouter un consultant"
		Disabled="@viewModel.IsLoading"
		Size="Size.Medium" />

	<div class="padding-25px">

	
	@if(viewModel.Consultants.Count == 0)
	{
		<div>Il n'y a aucun consultant</div>
	}
	else
	{
		<MudStack Row="true" Justify="Justify.FlexStart" Class="flex-wrap">

		    @foreach (Consultant consultant in viewModel.Consultants)
		    {
				<ConsultantCard Nom="@consultant.Nom"
								Prenom="@consultant.Prenom"
								Image="@consultant.UrlPhoto" />

		                @*OnClickPost="@(() => ViewModel.OpenPost(post.Id, post.UrlTitle))" />*@
		    }
		
		</MudStack>
	}
	</div>
}

@code {

	protected override async Task OnInitializedAsync()
	{
		await viewModel.LoadConsultants();
	}
}