@page "/competences"
@inject ICompetenceViewModel viewModel
@attribute [Authorize(Roles = "Admin, Manager")]

@if (viewModel.IsLoading)
{
	<div>Chargement de la liste des compétences...</div>
}
else
{
<MudDataGrid T="Competence"
			MultiSelection="false"
			Items="@viewModel.AllCompetence"
			Filterable="true"
			QuickFilter="@viewModel.QuickFilter"
			Striped="true"
			Bordered="true"
			ReadOnly="true"
			EditMode=" DataGridEditMode.Form">

	<ToolBarContent>
		<MudText Typo="Typo.h6">Liste des compétences</MudText>

		<MudTooltip Text="Ajouter une nouvelle compétence">
			<MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Success" OnClick="@viewModel.AddNew" />
		</MudTooltip>
				
		<MudSpacer />
		<MudTextField @bind-Value="viewModel.RechercheItem" Placeholder="Recherche" Adornment="Adornment.Start" Immediate="true"
					  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
	</ToolBarContent>

	<Columns>
			<Column T="Competence" Field="Nom" Title="Nom" Sortable="true" Filterable="false" />
			<Column T="Competence" Field="Commentaire" Title="Commentaire" Sortable="false" Filterable="false" />

			<Column T="Competence" Filterable="false" Sortable="false" Title="Edition" Resizable="true">
			<CellTemplate>
				<MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@(e => viewModel.Edit(context.Item.Id))" />
			</CellTemplate>
		</Column>
	</Columns>

	<PagerContent>
		<MudDataGridPager T="Competence" RowsPerPageString="Ligne par page:" />
    </PagerContent>
</MudDataGrid>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await viewModel.Load();
	}
}
