@page "/users"
@inject IUsersViewModel viewModel 
@attribute [Authorize(Roles = "Admin, Manager")]

<h3>Gestion des utilisateurs</h3>

@if(viewModel.IsLoading)
{
	<div>Chargement des utilisateurs...</div>
}
else
{
<MudDataGrid T="UserView" 
			MultiSelection="false"
			 Items="@viewModel.AllUsers" 
			 SortMode="SortMode.Multiple" 
			 Filterable="true"
			 Striped="true"
			 Bordered="true"
			 ReadOnly="true"
			 EditMode=" DataGridEditMode.Form">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Liste des utilisateurs</MudText>
    </ToolBarContent>
		
    <Columns>
		<Column T="UserView" Field="UserName" Title="Login" Sortable="true" Filterable="false" />
		<Column T="UserView" Field="Email" Title="Email" Sortable="false" Filterable="false" />
		<Column T="UserView" Field="Role" Title="Role" Sortable="true" Filterable="false" />

		<Column T="UserView" Filterable="false" Title="Edit rôle">
			<CellTemplate>
				<MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" OnClick="@(e => viewModel.EditUser(context.Item.IdUser))" />
			</CellTemplate>
		</Column>

		<Column T="UserView" Title="Reset MDP" Sortable="false" Filterable="false">
            <CellTemplate>
				<MudTooltip Text="Réinitialise le mot de passe">
					<MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.LockReset" OnClick="@(e =>  viewModel.ResetChangeMdp(context.Item.IdUser))" />
				</MudTooltip>
            </CellTemplate>
        </Column>
    </Columns>
</MudDataGrid>
}

@code{

	protected override async Task OnInitializedAsync()
	{
		await viewModel.LoadUsers();
		viewModel.SetStateHasChanged(StateHasChanged);
	}
}